.desktop1-container {
  min-height: 100vh;
}
.desktop1-desktop1 {
  width: 100%;
  height: 2112px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(1, 158, 225, 1);
}
.desktop1-rectangle26 {
  top: 1112.4808349609375px;
  left: -87.31849670410156px;
  width: 1586px;
  height: 237px;
  position: absolute;
  border-color: transparent;
}
.desktop1-rectangle28 {
  top: 1474.4808349609375px;
  left: -100px;
  width: 1586px;
  height: 237px;
  position: absolute;
  border-color: transparent;
}
.desktop1-rectangle27 {
  top: 778.4808349609375px;
  left: -100px;
  width: 1586px;
  height: 237px;
  position: absolute;
  border-color: transparent;
}
.desktop1-rectangle1 {
  top: 0px;
  left: 0px;
  width: 1366px;
  height: 221px;
  position: absolute;
  border-color: transparent;
}
.desktop1-rectangle13 {
  top: 0px;
  left: 0px;
  width: 1366px;
  height: 69px;
  position: absolute;
  border-color: transparent;
}
.desktop1-text {
  top: 300px;
  left: 61px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-text02 {
  top: 686px;
  left: 61px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-text04 {
  top: 1088px;
  left: 61px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-text06 {
  top: 54px;
  color: rgba(255, 255, 255, 1);
  right: 186px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-text08 {
  top: 54px;
  color: rgba(255, 255, 255, 1);
  right: 83px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-group4 {
  top: 1746px;
  left: 0px;
  width: 1366px;
  height: 366px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(30, 30, 30, 1);
}
.desktop1-text10 {
  left: 61px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Extra Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text12 {
  top: 111px;
  left: 606px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text14 {
  top: 164px;
  left: 421px;
  color: rgba(255, 255, 255, 1);
  width: 523px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Light;
  text-align: center;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-group2 {
  top: 99px;
  left: 36px;
  width: 540px;
  height: 80px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop1-text19 {
  color: rgb(0, 0, 0);
  width: 540px;
  height: auto;
  position: absolute;
  font-size: 64px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text20 {
  color: #000000;
}
.desktop1-text21 {
  color: #ffffff;
  font-weight: 500;
}
.desktop1-text22 {
  color: #ce1414;
  font-style: normal;
  font-weight: 700;
}
.desktop1-group6 {
  top: 1169px;
  left: 126px;
  width: 1113px;
  height: 286px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop1-group5 {
  top: 8px;
  left: 714px;
  width: 399px;
  height: 273px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop1-rectangle16 {
  top: 0px;
  left: 0px;
  width: 399px;
  height: 85px;
  position: absolute;
  border-color: transparent;
  border-radius: 18px;
}
.desktop1-rectangle17 {
  top: 94px;
  left: 0px;
  width: 399px;
  height: 85px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 18px;
}
.desktop1-rectangle18 {
  top: 188px;
  left: 0px;
  width: 399px;
  height: 85px;
  position: absolute;
  border-color: transparent;
  border-radius: 18px;
}
.desktop1-text23 {
  top: 17px;
  left: 152px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Light;
  text-align: center;
  font-family: Inknut Antiqua;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text25 {
  top: 205px;
  left: 93px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Light;
  text-align: center;
  font-family: Inknut Antiqua;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text27 {
  top: 111px;
  left: 159px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Light;
  text-align: center;
  font-family: Inknut Antiqua;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-rectangle19 {
  top: 3px;
  left: 352px;
  width: 334px;
  height: 283px;
  position: absolute;
  border-color: transparent;
  border-radius: 15px;
}
.desktop1-rectangle20 {
  top: 0px;
  left: 0px;
  width: 334px;
  height: 283px;
  position: absolute;
  border-color: transparent;
  border-radius: 15px;
}
.desktop1-text29 {
  top: 111px;
  left: 423px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Light;
  text-align: center;
  font-family: Inknut Antiqua;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text31 {
  top: 111px;
  left: 83px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Light;
  text-align: center;
  font-family: Inknut Antiqua;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-group10 {
  top: 392px;
  left: 95px;
  width: 1176px;
  height: 259px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop1-rectangle21 {
  top: 0px;
  left: 0px;
  width: 273px;
  height: 172px;
  position: absolute;
  border-color: transparent;
  border-radius: 11px;
}
.desktop1-rectangle22 {
  top: 0px;
  left: 301px;
  width: 273px;
  height: 172px;
  position: absolute;
  border-color: transparent;
  border-radius: 11px;
}
.desktop1-rectangle23 {
  top: 0px;
  left: 602px;
  width: 273px;
  height: 172px;
  position: absolute;
  border-color: transparent;
  border-radius: 11px;
}
.desktop1-group7 {
  top: 0px;
  left: 903px;
  width: 273px;
  height: 172px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop1-rectangle24 {
  top: 0px;
  left: 0px;
  width: 273px;
  height: 172px;
  position: absolute;
  border-color: transparent;
  border-radius: 11px;
}
.desktop1-text33 {
  top: 182px;
  left: 30px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text38 {
  top: 182px;
  left: 619px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text45 {
  top: 182px;
  left: 320px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text50 {
  top: 187px;
  left: 929px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-group11 {
  top: 778px;
  left: 95px;
  width: 1176px;
  height: 254px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop1-rectangle211 {
  top: 0px;
  left: 0px;
  width: 273px;
  height: 172px;
  position: absolute;
  border-color: transparent;
  border-radius: 11px;
}
.desktop1-rectangle221 {
  top: 0px;
  left: 301px;
  width: 273px;
  height: 172px;
  position: absolute;
  border-color: transparent;
  border-radius: 11px;
}
.desktop1-rectangle231 {
  top: 0px;
  left: 602px;
  width: 273px;
  height: 172px;
  position: absolute;
  border-color: transparent;
  border-radius: 11px;
}
.desktop1-rectangle241 {
  top: 0px;
  left: 903px;
  width: 273px;
  height: 172px;
  position: absolute;
  border-color: transparent;
  border-radius: 11px;
}
.desktop1-text57 {
  top: 182px;
  left: 27px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text59 {
  top: 182px;
  left: 930px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text66 {
  top: 182px;
  left: 635px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text68 {
  top: 182px;
  left: 299px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
